.spinner-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(83, 83, 203);
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    
}

@keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}