.postCard {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .postImage {
    width: 100%;
    border-radius: 8px;
  }
  
  .caption {
    margin-top: 10px;
  }
  